<?xml version="1.0" encoding="US-ASCII" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] (%t:%x) %m%n" />
    </layout>
  </appender>

  <logger name="org.hibernate">
    <level value="DEBUG" />
    <appender-ref ref="stdout"/>
  </logger>

  <root>
    <priority value ="DEBUG"/>
    <appender-ref ref="stdout"/>
  </root>
</log4j:configuration>
